.rqe-header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  top: 0;
  padding: 0 24px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 8px -2px rgba(34, 35, 36, 0.25),
    0px 0px 1px rgba(34, 35, 36, 0.3);
}

.rqe-header__logo-image {
  width: 40px;
  margin-right: 32px;
  vertical-align: top;
}

.rqe-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.rqe-header li {
  padding: 0 16px;
  margin: 0;
}
